# Entorno Virtual
venv/
.venv/
env/
__pycache__/
*.pyc

# Datos y Audios (Archivos pesados/privados)
data/audio/*
data/results.json
data/speakers.pkl
data/calibration.pkl
temp_calibration.webm

# Modelos y caché
.cache/
models/
.env

# VS Code y SO
.vscode/
.idea/
.DS_Store
Thumbs.db
